{% extends "default.html" %}

{% block head %}
<meta name="description" content="{{ model.description }}" />
<meta name="author" content="{{ model.author }}" />
<meta property="og:title" content="{{ model.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://snippets.thegamma.net/{{ model.id }}/{{ model.title | cleanTitle }}" />
<meta property="og:image" content="https://thegamma.net/img/logo.png" />  
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@thegamma_net" />
<meta name="twitter:title" content="{{ model.title }}" />
<meta name="twitter:description" content="{{ model.description }}" />
<meta name="twitter:image" content="https://thegamma.net/img/logo.png" />  
<title>{{ model.title }} | The Gamma Snippets</title>

<link href="https://thegamma.net/lib/thegamma/thegamma.css" rel="stylesheet">
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
<script type="text/thegamma" id="demo">{{ model.code }}</script>

<header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <h1><span><strong>The Gamma</strong>: {{ model.title }}</span></h1>
      <p>{{ model.description }}</p>
      <p>This snippet has been shared {{ model.posted | niceDate }} by <strong>{{ model.author }}</strong>.
      {% if model.twitter == null %}{% else %}You can contact the author via Twitter at <a href="https://twitter.com/{{ model.twitter }}">@{{ model.twitter }}</a>.{% endif %}
      {% if model.link == null %}{% else %}For more information, see the <a href="{{ model.link }}">author's web page</a>.{% endif %}</p>
    </div>
  </div>
</div>
</header>
  
<article>
<div class="container">
  
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="shadow">
    <div id="out1" class="output">
      <div class="placeholder">
        Loading the visualization...
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
  
<div class="row" style="margin-top:50px"><div class="col-sm-12">
  <div class="tabs">
    <div class="tab-sel tab" id="tab_0" onclick="switchTabs(0);"><i class="fa fa-code"></i> Edit the snippet</div>
    <div class="tab" id="tab_1" onclick="switchTabs(1);"><i class="fa fa-code-fork"></i> Share your version</div>
    <div class="tab" id="tab_2" onclick="switchTabs(2);"><i class="fa fa-share-alt"></i> Embed the snippet</div>
  </div>
  <div class="shadow" style="background:white;min-height:800px">
    
    <div class="tab-body" id="tab_body_0">
      <div id="ed1"></div>
      <div id="ed1-errors" class="errors"></div>
      <div style="padding:10px 0px 20px 10px"><button id="run" class="btn btn-success">Run snippet</button></div>
    </div>
    
    <div class="tab-body" id="tab_body_1" style="display:none">
      <form class="form-horizontal" name="insert-form" id="insert-form" action="/insert" onsubmit="return validateForm();" method="post">
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">Title*</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title" value="{{ model.title }}">
            <div id="title_error" class="error">Please enter snippet title.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description*</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="description" rows="3" id="description">{{ model.description }}</textarea>
            <div id="description_error" class="error">Please enter snippet description.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="source" class="col-sm-2 control-label">Source code*</label>
          <div class="col-sm-10">
            <textarea readonly="readonly" class="form-control" name="source" rows="6" id="source"></textarea>
            <div id="source_error" class="error">Snippet source code cannot be empty.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="author" class="col-sm-2 control-label">Author*</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="author" name="author" placeholder="Your Name">
            <div id="author_error" class="error">Please enter author name.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="twitter" class="col-sm-2 control-label">Twitter</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="twitter" name="twitter" placeholder="yourhandle">
          </div>
        </div>
        <div class="form-group">
          <label for="link" class="col-sm-2 control-label">Link</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="link" name="link" placeholder="https://...">
          </div>
        </div>        
        <div class="form-group submit-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="recaptcha" style="float:right">
              <div class="g-recaptcha" data-sitekey="6LeShxMUAAAAAA25BYR6xSXTu0j9w3-aYxOCKIAx"></div>
              <div id="human_error" class="error">Please verify you are a human.</div>
            </div>
          </div>
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="submit" name="submit" value="Share snippet" class="btn btn-success">Share snippet</button>
          </div>
        </div>          
      </form>
    </div>
    
    <div class="tab-body" id="tab_body_2" style="display:none">
      tt
    </div>
  </div>
</div></div>

</div>
</article>

{% include "insert.html" %}
{% endblock %}
